.profile_section_container {
  max-width: 52.5em;
  margin-right: auto;
  margin-left: auto;
}

.profile_info_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.user_avatar_wrapper {
  position: relative;
  width: 10rem;
  margin-right: 3.4em;
  flex: 0 0 auto;
  border-radius: 999em;
}

.user_avatar_circle_img {
  width: 100%;
  height: 100%;
  border-radius: 999em;
  -o-object-fit: cover;
  object-fit: cover;
}

.circle_flag {
  position: absolute;
  left: -8%;
  top: -1%;
  right: auto;
  bottom: auto;
  width: 3em;
  height: 3em;
  border-radius: 999em;
  background-image: url(https://assets.website-files.com/61694bf29835095fa2e3e46f/61695d11281157ff60ce8c4d_flag.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.38);
}

.title_description_content_wrap {
  .title {
    font-size: 2.4em;
    line-height: 1.2em;
    font-weight: 600;
  }
}

.description_content_wrap {
  padding-bottom: 1.6em;
  padding-top: 1.6em;
  .description_content {
    font-size: 1.313em;
    line-height: 1.45em;
    font-weight: 400;
  }
}

.portfolio_link {
  padding-bottom: 1px;
  box-shadow: 0 1px 0 0 rgba(235, 118, 54, 0.6);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #eb7636;
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
  .link_txt {
    font-size: 1.313em;
    line-height: 1.45em;
    font-weight: 400;
  }
}

.portfolio_link:hover {
  box-shadow: 0 1px 0 0 rgba(235, 118, 54, 0);
  opacity: 0.6;
  outline: 0;
}

.waving-hand {
  display: inline-block;
}

@media screen and (max-width: 479px) {
  .profile_info_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .user_avatar_wrapper {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 991px) {
  .user_avatar_wrapper {
    margin-right: 6vw;
  }
}

@media screen and (max-width: 767px) {
  .title_description_content_wrap {
    .title {
      font-size: 2rem;
    }
  }
  .description_content_wrap {
    padding-bottom: 1.6rem;
  }
  .description_content,
  .link_txt {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
