.footer_cards {
  display: grid;
  width: 100%;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: stretch;
  grid-column-gap: 4vw;
  grid-row-gap: 4vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-top: 1px solid #262f3b;
  border-bottom: 1px solid #262f3b;
}

.card {
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: #272727;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #f8eed8;
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
}

.card_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_inner_img {
  position: relative;
  display: flex;
  width: 4em;
  height: 4em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 999em;
  box-shadow: 0 15px 44px 0 rgba(0, 0, 0, 0.35);
  font-size: 1em;
}

.card_icon {
  position: relative;
  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  color: #fff;
}

.card_inner_img_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  border-radius: 999em;
}

.card_txt {
  font-size: 1.313em;
  line-height: 1.45em;
  font-weight: 400;
}

.card_inner_img_bg.youtube {
  background-color: red;
}

.card_inner_img_bg.webflow {
  background-color: #4353ff;
}

.card_inner_img_bg.patreon {
  background-color: #f96753;
}

.card:hover {
  background-color: #343434;
}
