.nav_content {
  background-color: #151515;
  border-bottom: 1px solid #353535;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav_outer {
  padding: 0 4rem;
  max-width: 100rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.nav_inner {
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}

.nav_left {
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  display: flex;
}

.nav_right {
  color: #757575;
}

.more_info {
  font-size: 0.9rem;
  line-height: 1.4;
}

.more_link_text {
  color: inherit;
}

.nav_content {
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

@media screen and (max-width: 991px) {
  .nav_outer {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .nav_inner {
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .nav_inner {
    column-gap: 1.3em;
    row-gap: 1.3em;
    flex-flow: column;
    justify-content: center;
    padding-top: 4.5em;
  }
  .nav_left {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .link_wrapper {
    width: 100%;
  }

  .nav_left {
    font-size: 0.8rem;
  }
}
