body {
  background-color: #151515;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.cta_link {
  border: 1px solid #fc762d;
  color: #fc762d;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  border-radius: 9rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  font-size: 0.65rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: inline-block;
}

.cta_link:hover {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cta_link.is_large {
  font-size: 1em;
}

@media screen and (max-width: 479px) {
  .cta_link {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .cta_link {
    font-size: 1rem;
  }
}
